{% extends "base.html" %} {% block content %}

<div class="row px-4">
  <div class="col">
    {% for article in articles %}
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <span
          class="
            badge
            bg-{%
            if
            article['sentiment']
            ==
            'positive'
            %}success{%
            elif
            article['sentiment']
            ==
            'neutral'
            %}warning{%
            else
            %}danger{%
            endif
            %}
            text-capitalize
            mb-2
          "
        >
          {{ article['sentiment'] }}
        </span>
        <h5>
          {% for topic in article['topics'] %}
          <span class="badge bg-light text-dark">{{ topic }}</span>
          {% endfor %}
        </h5>

        <h3 class="card-title">{{ article['title'] }}</h3>
        <div>{{ article['author'] }}</div>
        <p class="text-secondary">{{ article['summary'] }}</p>
        <div class="text-end">
          <a class="btn btn-light stretched-link" href="/{{ article['url'] }}"
            >Read full article</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
