{% extends "base.html" %} {% block content %}

<div class="row px-4">
  <div class="col">
    {% for article in articles %}
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <h5>
          <span
            class="
              badge
              bg-{%
              if
              article['sentiment']
              ==
              'positive'
              %}success{%
              elif
              article['sentiment']
              ==
              'neutral'
              %}warning{%
              else
              %}danger{%
              endif
              %}
              text-capitalize
              mb-2
            "
          >
            {{ article['sentiment'] }}
          </span>
          <span class="mx-2">|</span>
          {% for topic in article['topics'] %}
          <span class="badge bg-light text-secondary">{{ topic }}</span>
          {% endfor %}
        </h5>

        <h2 class="card-title">{{ article['title'] }}</h2>
        <div class="text-secondary mb-2">
          <span class="me-2">{{ article['date'] }}</span>
          {{ article['author'] }}
        </div>
        <p class="text-secondary">{{ article['summary'] }}</p>
        <div class="text-end">
          <a class="btn btn-light" href="/{{ article['url'] }}"
            >Read full article ></a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
